# Byte-compiled / optimized / DLL files
__pycache__**
.*_cache**
.mypy_cachedo
*.py[cod]
*$py.class
Logs**
cromwell**
*.out
# C extensions
*.so
*gitexcluded_*



#IntelliJ
.idea**

#Visual Studio Code
.vscode**
.DS_Store
**.code-workspace