# Byte-compiled / optimized / DLL files
__pycache__**
*.mypy_cache**
.mypy_cachedo
*.py[cod]
*$py.class
Logs**
*.out
# C extensions
*.so
*gitexcluded_*



#IntelliJ
.idea**

#Visual Studio Code
.vscode**
.DS_Store

